# ==============================================================================
# CmapTools Configuration File
# ==============================================================================

#
# Period value (in milliseconds) for the timer Check for new Places
#
nlk.placeManager.locationPeriod=1800000

#
# Period value (in milliseconds) for the timer Check activity status of each
# Place
#
nlk.placeManager.statusPeriod=600000


# Enable CmapTools to locate new places through local CmapServers acting
# as proxies to one or more Directories of Places.
#
nlk.placeManager.proxyServerLocatorEnabled=false

# ==============================================================================
# Logger Configuration
# ==============================================================================


# Enable logging.
#
# Default is 'yes'
#
logger.enabled=no


# This option specifies the path to the directory where log files are created.
#
# %h = user home directory
# %t = user temporary directory
#
# Default is: '%h/logs'
#
logger.file.path=%h/CmapToolsLogs


# This option specifies the prefix of the log file name. The log file name is
# generated using this prefix and a counter. For example: logfile0.log,
# logfile1.log, etc. being logfile0.log the most recently modified.
#
# Default is 'logfile'
#
logger.file.prefix=cmaptools


# This option specifies the maximum size in bytes of each log file.
# When the maximum size is reached, a new log file is created.
#
# Default is '1048576' (1 MB)
#
logger.file.size=5242880


# This option specifies the maximum number of log files that can be created.
# When the maximum number is reached, the files are rotated by removing the
# oldest log file.
#
# Default is '3'
#
logger.file.number=3


# ==============================================================================
# Local Server Configuration
# ==============================================================================

# Number of concurrent connections to the local server
#
concurrent.client.limit=10


# Request read timeout (milliseconds)
#
request.read.timeout=30000


# Thread idle timeout (milliseconds)
#
persistent.connection.lifetime=10000


# Server socket backlog
#
server.socket.backlog=0


# Boolean that determines whether or not the CmapTools client should generate
# thumbnails for:
# 1. Each resource whose major mimetype is image (e.g. .jpg, .png, .gif, .bmp)
# 2. Each .cmap file that is a zipfile containing a htmljpeg part.
# The thumbnails themselves are also jpeg's. Each thumbnail gets stored in the
# ResourceInfo of the resource to which it pertains.
# In the past, any Cmap that was saved into My Cmaps did not contain a
# htmljpeg part.  For such maps, no thumbnail will be generated.
# But future versions of CmapTools will most likely start saving the htmljpeg
# part also, and for these cmaps, a thumbnail will get generated.
#
generate.thumbnails=true


# Determines whether or not the server should erase all thumbnails
# at startup (while reindexing all the resources)
# This can be used in conjunction with generate.thumbnails.  E.g., if you want
# to regenerate all thumbnails, you can set erase.thumbnails to true and set
# generate.thumbnails to true.
# If you want to just remove all thumbnails from your system, you should set
# erase.thumbnails to true and generate.thumbnails to false
#
erase.thumbnails=false


# ==============================================================================
# Proxy Configuration
# ==============================================================================

# Automatically detect proxy settings (Windows only)
# If yes, the others proxy configuration options
# have not effect.
#
# Default is 'no'
#
proxy.auto=no


# This option specifies whether or not use proxy server
#
# Default is 'no'
#
proxy.useProxy=no


# This option specifies the proxy server address (by protocol)
#
# Example:
#
# HTTP and SOCKS proxy server addresses are diferent:
# proxy.address=http=192.168.5.1:3128;socks=192.168.5.1:1080
#
# HTTP and SOCKS proxy server addresses are the same:
# proxy.address=192.168.5.1:80
#
# Default is none
#
proxy.address=


# Do not use proxy server for the following addresses
#
# Examples:
# proxy.directHosts=localhost;10.
# proxy.directHosts=localhost;*.mydomain.com
#
# Default is none
#
proxy.directHosts=


# ==============================================================================
# Recorder options
# ==============================================================================

# Cmap Recorder option to automatically start recording
# for every cmap that is opened or created.
#
# Default is 'no'
#
recorder.startAutomatically=no


# Cmap Recorder option to disable user access to recording controls
# for auditing purposes
#
# Default is 'no'
#
recorder.auditMode=no


# ==============================================================================
# ServerManager Options
# ==============================================================================

# Enable offline mode.
#
# When offline mode is enabled, CmapTools won't access the network for locating
# new places or checking their status.
#
# Default is 'false'
#
nlk.serverManager.offlineMode=false


# ==============================================================================
# PKI OPTIONS
# ==============================================================================

# Whether or not to enable PKI
#
# Default is: false
#
pki.enable=false


# If this value is set, then Windows certificates will be used for PKI, 
# and the custom settings below will be ignored
# Value: the serial number of the user's certificate for PKI
# To use the first available user certificate, the value should be DEFAULT_CERT
pki.ms.cert=


# The path to the PKCS12 file containing the user's certificate and its private key.
#
# example: pki.keystore = ../clientCert.p12
#
pki.keystore=


# The password for accessing the client's keystore.
#
# example: pki.keystore.password = abcd
#
pki.keystore.password=


# The path to the X.509 file containing the CA trusted certificate.
#
# example: pki.ca.certificate = ../caCert.cer
#
pki.ca.certificate=


# The hostname of the LDAP server to retrieve Certificate Revocation Lists (CRLs).
#
# This value is optional. If no LDAP host is specified, no certificate revocation
# checking will be performed.
#
# example: pki.ldap.host = ldap.ihmc.us
#
pki.ldap.host=


# The port number of the LDAP server.
#
# Defaults is: 389
#
pki.ldap.port=389


# Specifies whether to use TLS or SSL to communicate with the LDAP server
#
# Options are: tls, ssl
#
# Default is: tls
#
pki.ldap.mode=tls


# ==============================================================================
# Background images configuration
# These values are used when images are added as the background of the map or
# nodes.  The maxwidth values are used to determine whether or not to show the
# resize dialog when the image is added to the node or background.  If the
# autoresize flag is true then the dialog is not displayed, an autoresize just
# happens.
# ==============================================================================
editor.background.image.autoresize=false
editor.background.image.node.maxwidth=128
editor.background.image.cmap.maxwidth=800

# ==============================================================================
# Undo limit in the Editor
# ==============================================================================
editor.undo.limit=50

# ==============================================================================
# Auto run Spellchecker when saving (True | False)
# ==============================================================================
editor.onsave.spellcheck=False

# ==============================================================================
# Are map nodes resizable or not (True | False)
# ==============================================================================
editor.nodes.resizable=True

# ==============================================================================
# If true object alignment is based on the position of all objects and the 
# alignment orientation. If false then alignment is based on the first object
# in the selection list. (True | False)
# ==============================================================================
editor.object.alignment.based.on.position=True

# ==============================================================================
# Default Style Sheet CXL file (Name of the cxl file containing a _Default_ 
# style sheet which will be used as the default style for all new maps.
# ==============================================================================
editor.default.stylesheet.cxl=DefaultStyleSheet.cxl

# ==============================================================================
# Print border size in pixels (an integer)
# ==============================================================================
editor.print.pageformat.border=18

# ==============================================================================
# Store and use style changes for future elements in a map (True | False)
# ==============================================================================
editor.store.style.changes=True

# ==============================================================================
# By default linking phrases are added between concepts. Set this to true to
# not add linking phrases by default. (True | False)
# ==============================================================================
editor.dont.add.linkingphrases=False

# ==============================================================================
# By default, users can move connection end points to be other than the default.
# If this is false then the user cannot move to any other end point other than
# the default. (True | False)
# ==============================================================================
editor.allow.other.than.default.connection.end.points=True

# ==============================================================================
# This allows the user to specify the default end point of a connection.
# Valid values are:
#       top-left, 	 top, 		top-right, 
#       left, 		 center,	right, 
#       bottom-left, bottom,	bottom-right
# ==============================================================================
editor.default.connection.end.point=center

# ==============================================================================
# This allows the user to specify the default start point of a connection.  
# Valid values are:
#       top-left, 	 top, 		top-right, 
#       left, 		 center,	right, 
#       bottom-left, bottom,	bottom-right
# ==============================================================================
editor.default.connection.start.point=center

# ==============================================================================
# If true then groupings other than Nested node are allowed.  Currently the
# other options are stacks and trees.
# ==============================================================================
alternative.grouping.allowed=true

# ==============================================================================
# Audit Configuration
# ==============================================================================

# Enable auditing by setting this to true, default is false
audit.log.enabled=false


# The path to the local directory in which the audit xml files will be written.
# Default is a relative path to an 'audit' folder in the server's home directory.
audit.log.output.path=../audit


# The maximum size (Kbs) of a single audit.xml file, once exceeded the current file is
# renamed and a new one created. Default is 10000kb or about 10Megs.
audit.log.output.maxfilesize=10000


# Whether to include 'read' operations in the audit trace
# Default is false since including 'reads' will more than double the audit size
audit.log.output.read=false


# Whether to maintain Subversion (SVN) version control of all changes within the serverRootFolder
# Subversion must be installed and the repository trunk checked out to the root folder
#
#   sample repository setup commands (execute from the command line):
#
#   - To create an empty repository
#        svnadmin create c:/dev/subversion/svnrepo
#
#   - To checkout the empty repository to the serverRootFolder
#        svn checkout file:///c:/dev/subversion/svnrepo c:/dev/eclipse/workspace/cmap/src/serverRootFolder
#
#   - To checkout the empty repository to My Cmaps
#        svn checkout file:///c:/dev/subversion/svnrepo C:/Documents and Settings/Larry Bunch/My Documents/My Cmaps
#
audit.svn.enabled=false


# The URL to the Subversion repository
audit.svn.repository.trunk.url=file\\://C\\:/path-to-subversion/subversion/svnrepo

# The base URL of the CmapCloud website
cloud.base.url=https://cmapcloud.ihmc.us

# The relative URL to lookup cloud user accounts
cloud.lookupUser.relUrl=/rest/users/

# Sets the mode shown in the Views -- thumbnail mode, or tree view
# values: thumbnailView | treeView
FolderBrowserMod_Window_View=thumbnailView

# ==============================================================================
# Indexing options
# ==============================================================================
#
# Whether to create the index for My Cmaps that allows you to search for cmaps
# and resources locally.  The default is true.
index.create=true

#
# Controls whether the topology values are generated for each concept map in
# My Cmaps.  The topology generation code is currently under development and
# may sometimes cause the indexer to stall.  The default is false.
index.generate.topology.value=true


# ==============================================================================
# Other options
# ==============================================================================
# Linux/Unix only: web browser application name(s)
# The name of the application CmapTools will invoke to open a URL or
# or other type of resource that CmapTools cannot display internally
# Comma-separated list of apps will be tried in order until one succeeds
#
nlk.resourceViewer.externalViewer.linuxAppList=firefox,konqueror,mozilla,netscape,opera


#project.cache.size=

server.rootfolder=/home/manuj/My_Cmaps